@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff-racing {
    font-family: 'Font Racing Sans One', sans-serif;
}

.ff-pop {
    font-family: 'Poppins', sans-serif;
}

/* =================font-weight============ */
.fw-small {
    font-weight: 300 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

/* ===============line-height=============== */
.lh-15 {
    line-height: 15px;
}

.lh-21 {
    line-height: 21px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-32 {
    line-height: 32px;
}

.lh-35 {
    line-height: 35.7px;
}

.lh-36 {
    line-height: 36px;
}

.lh-37 {
    line-height: 37px;
}

.lh-42 {
    line-height: 42px;
}

.lh-56 {
    line-height: 56px;
}

/* 
.lh-75 {
    line-height: 75px;
} */

/* .a::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

.a::-webkit-scrollbar-track {
    background: grey;
}

.a::-webkit-scrollbar-thumb {
    background: blue;
}

.a::-webkit-scrollbar-thumb:hover {
    background: green;
} */

/* ===================hero-section============= */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.hero-bg-img {
    background-image: url(../images/svg/hero-bg-img.svg);
    background-size: cover;
    /* background-position: center; */
}

.blue_line:after {
    display: none;
    content: "";
    width: 219px;
    position: absolute;
    height: 8px;
    background: var(--clr-lineBlue);
    left: 30%;
    bottom: 10px;
    border-radius: 18px;
    z-index: -1;
}

.mt_30 {
    margin-top: 30px;
}

.mt_65 {
    margin-top: 65px;
}

.pt_140 {
    padding-top: 140px;
}

.pb_60 {
    padding-bottom: 60px;
}

.gap_32 {
    gap: 32px;
}

.gap_20 {
    gap: 20px;
}

.gap_12 {
    gap: 12px;
}

.gap_60 {
    gap: 60px;
}

.py_29 {
    padding-top: 29px;
    padding-bottom: 29px;
}

.btn_styling {
    background: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    Padding: 14px 32px;
    border-radius: 60px;
    border: 2px solid transparent;
}

.max_w_889 {
    max-width: 889px;
}

.travel_box {
    max-width: 930px;
    min-height: 300px;
    border: 1px solid var(--clr-borderGrey);
    border-radius: 16px;
    padding: 20px 40px;
    background: var(--clr-blue);
}

.goingTo_box {
    width: 100%;
    /* max-width: 452px; */
    min-height: 48px;
    padding: 12px 0 12px 10px;
    border-radius: 8px;
    border: 1px solid var(--clr-borderGrey)
}

.checkkIn_box {
    padding: 5px 10px;
    width: 100%;
    /* max-width: 180px; */
    border: 1px solid var(--clr-borderGrey);
    border-radius: 8px;
}


@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100vh;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-navBlue);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: var(--clr-white);
        transition: all 300ms linear;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }
}

@media (min-width:576px) {
    .lh-sm-50 {
        line-height: 50px;
    }

    .blue_line:after {
        display: block;
        width: 271px;
        left: 24%;
    }
}

@media (min-width:768px) {
    .blue_line:after {
        width: 359px;
        height: 14px;
        bottom: 6px;
    }
}

@media (min-width:992px) {
    .gap_lg_32 {
        gap: 32px;
    }

    .lh-lg-75 {
        line-height: 75px;
    }

    .blue_line:after {
        content: "";
        width: 453px;
        height: 19px;
        left: 25%;
        bottom: 10px;
    }

    .checkkIn_box {
        /* padding: 5px 10px; */
        max-width: 180px;
        /* border: 1px solid var(--clr-borderGrey); */
        /* border-radius: 8px; */
    }

    .goingTo_box {
        max-width: 452px;
    }
}