@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff-racing {
    font-family: 'Font Racing Sans One', sans-serif;
}

.ff-pop {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Sans Serif Collection';
    src: url(//assets/fonts/SansSerifCollection/SansSerifCollection.ttf);
}

.ff-sans {
    font-family: 'Sans Serif Collection', sans-serif;
}

.opacity_50 {
    opacity: 50%;
}

.opacity_80 {
    opacity: 80%;
}

.opacity_90 {
    opacity: 90%;
}

/* =================font-weight============ */
.fw-small {
    font-weight: 300 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

/* ===============line-height=============== */
.lh-15 {
    line-height: 15px;
}

.lh-21 {
    line-height: 21px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-32 {
    line-height: 32px;
}

.lh-35 {
    line-height: 35.7px;
}

.lh-36 {
    line-height: 36px;
}

.lh-37 {
    line-height: 37px;
}

.lh-40 {
    line-height: 40px;
}

.lh-42 {
    line-height: 42px;
}

/* .lh-sm-56 {
    line-height: 56px;
} */

/* 
.lh-75 {
    line-height: 75px;
} */

/* .a::-webkit-scrollbar {
    width: 5px;
    height: 2px;
}

.a::-webkit-scrollbar-track {
    background: grey;
}

.a::-webkit-scrollbar-thumb {
    background: blue;
}

.a::-webkit-scrollbar-thumb:hover {
    background: green;
} */

/* ===================hero-section============= */
.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.hero-bg-img {
    background-image: url(../images/svg/hero-bg-img.svg);
    background-size: cover;
    /* background-position: center; */
}

.nav_link:hover {
    transition: all 300ms linear;
}

.nav_link::after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--clr-white);
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 200ms linear;
    transform: translateX(-50%);
}

.nav_link:hover::after {
    width: 100%;
}

.blue_line:after {
    display: none;
    content: "";
    width: 219px;
    position: absolute;
    height: 8px;
    background: var(--clr-lineBlue);
    left: 30%;
    bottom: 10px;
    border-radius: 18px;
    z-index: -1;
}

.mt_30 {
    margin-top: 30px;
}

.mt_65 {
    margin-top: 65px;
}

.pt_140 {
    padding-top: 140px;
}

.pb_60 {
    padding-bottom: 60px;
}

.gap_32 {
    gap: 32px;
}

.gap_20 {
    gap: 20px;
}

.gap_12 {
    gap: 12px;
}

.gap_60 {
    gap: 60px;
}

.py_29 {
    padding-top: 29px;
    padding-bottom: 29px;
}

.btn_styling {
    background: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    Padding: 14px 32px;
    border-radius: 60px;
    border: 2px solid transparent;
    transition: all 200ms linear;
}

.btn_styling:hover {
    color: var(--clr-navBlue);
    background: var(--clr-white);
}

.max_w_889 {
    max-width: 889px;
}

.travel_box {
    max-width: 930px;
    min-height: 300px;
    border: 1px solid var(--clr-borderGrey);
    border-radius: 16px;
    padding: 20px 40px;
    background: var(--clr-blue);
}

.goingTo_box {
    width: 100%;
    min-height: 48px;
    padding: 12px 0 12px 10px;
    border-radius: 8px;
    border: 1px solid var(--clr-borderGrey)
}

.checkkIn_box {
    padding: 5px 10px;
    width: 100%;
    border: 1px solid var(--clr-borderGrey);
    border-radius: 8px;
}

.hero_starsIcon_position {
    right: 0;
    bottom: -72px;
}

.hero_linerGrident {
    background: linear-gradient(180deg, #140D1B 11.54%, rgba(16, 8, 32, 0) 80.31%);
    width: 100%;
    min-height: 308px;
    bottom: -231px;
    z-index: -2;
}

/* ==============about-us============ */
.max_w_878 {
    max-width: 878px;
}

.aboutUs_ellip_position {
    top: -78%;
    left: 0;
    z-index: 1;
}

.aboutUs_ellip_position_right {
    top: 24%;
    right: 0;
}

/* ============Popular Destinations(grid)============== */
.py_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pb_0 {
    padding-bottom: 0;
}

.grid_left_ellipPosition {
    top: 0;
    left: 0;
}

.left_star_position {
    top: 81px;
    left: 0;
}

.right_star_position {
    bottom: 15px;
    right: 0;
}

.grid-container {
    display: grid;
    gap: 10px;
}

.grid-item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-item2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-item3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.grid-item4 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.grid-item5 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.grid-item6 {
    grid-row: 6/7;
    grid-column: 1/2;
}

.transition {
    transition: 0.5s linear;
}

.gride_content_property {
    background: var(--clr-greyBlure);
    backdrop-filter: blur(10px);
    padding: 10px 28px;
    border-radius: 42px;
    opacity: 0;
    transition: all 300ms linear;
}

.hover_grid_content:hover .gride_content_property {
    opacity: 1;
}

.hover_grid_content:hover {
    scale: 0.9;
}

.hover_grid_content {
    transition: 0.2s linear;
}

.position_grid_content {
    top: 12px;
    left: 12px;
}

/* ====================slider=============== */
.pb_110 {
    padding-bottom: 110px;
}

.slider_left_ellipPosition {
    top: -48%;
    left: 0;
}

.slider_right_ellipPosition {
    right: 0;
    top: -39%
}

.text_lineThrough {
    text-decoration: line-through !important;
}

.slider_box {
    max-width: 367px;
    min-height: 406px;
}

.slider_box_modification {
    background: var(--clr-sliderBoxBlue);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 16px 20px 21px 20px;
}

.max_w_327 {
    max-width: 327px;
}

.border_radius {
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.slick-track {
    display: flex;
    gap: 20px;
}

#member_deal .slick-dots li {
    /* width: 30px; */
}

.slick-dots li button:before {
    color: var(--clr-creamyWhite);
    /* background: var(--clr-creamyWhite); */
    font-size: 19px;
    width: 28px;
    height: 12px;
}

.slick-dots li.slick-active button:before {
    font-size: 19px;
    background: var(--clr-sliderBTnBlue);
    color: var(--clr-sliderBTnBlue);
    height: 12px;
    width: 60px;
}

.slick-next:before {
    display: none;
}

.slick-prev:before {
    display: none;
}

/* ==================token-section============ */
.token_bg_img {
    background-image: url(../images/png/token-bg-img.png);
    background-size: cover;
    background-position: center;
}

.gap_28 {
    gap: 28px;
}

.gap_36 {
    gap: 36px;
}


.pt_30 {
    padding-top: 30px;
}

/* .pt_40 {
    padding-top: 40px;
} */
.pt_20 {
    padding-top: 20px;
}

.pt_50 {
    padding-top: 50px;
}

.travel_club_box {
    background: rgba(18, 25, 210, 0.2);
    padding: 29px 20px 31px 20px;
    max-width: 582px;
    min-height: 480px;
}

@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100%;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-navBlue);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: var(--clr-white);
        transition: all 300ms linear;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }

    .w_100 {
        width: 100%;
    }

    .max_w_406 {
        max-width: 406px;
    }
}

@media (max-width:576px) {
    .grid_small_screen {
        max-width: 366px;
        height: 268px;
        object-fit: cover;
        border-radius: 13px;
    }

    .gride_center {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:576px) {
    .lh-sm-50 {
        line-height: 50px;
    }

    .lh-sm-56 {
        line-height: 56px;
    }

    .blue_line:after {
        display: block;
        width: 271px;
        left: 24%;
    }

    .mb_sm_20 {
        margin-bottom: 20px;
    }

    .py_sm_50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .pb_sm_35 {
        padding-bottom: 35px;
    }

    .pt_sm_43 {
        padding-top: 43px;
    }

    .pt_sm_40 {
        padding-top: 40px;
    }

    .gap_sm_143 {
        gap: 143px;
    }

    .gap_100 {
        gap: 100px;
    }

    .gap_90 {
        gap: 90px;
    }

    .gap_30 {
        gap: 30px;
    }

    .travel_club_box {
        background: rgba(18, 25, 210, 0.2);
        padding: 29px 50px 31px 50px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }

    .grid-item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-item3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .grid-item4 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .grid-item5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grid-item6 {
        grid-row: 2/4;
        grid-column: 3/4;
    }


}

@media (min-width:768px) {
    .blue_line:after {
        width: 359px;
        height: 14px;
        bottom: 6px;
    }

    .py_md_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .py_md_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .mb_md_40 {
        margin-bottom: 40px;
    }


}

@media (min-width:992px) {
    .w100 {
        width: 100%;
    }

    .gap_lg_32 {
        gap: 32px;
    }

    .lh-lg-75 {
        line-height: 75px;
    }

    .pt_lg_37 {
        padding-top: 37px;
    }

    .py_lg_180_160 {
        padding-top: 180px;
        padding-bottom: 160px;
    }

    .pb_lg_106 {
        padding-bottom: 106px;
    }

    .blue_line:after {
        content: "";
        width: 453px;
        height: 19px;
        left: 25%;
        bottom: 10px;
    }

    .checkkIn_box {
        /* padding: 5px 10px; */
        max-width: 180px;
        /* border: 1px solid var(--clr-borderGrey); */
        /* border-radius: 8px; */
    }

    .goingTo_box {
        max-width: 452px;
    }

    .pt_lg_160 {
        padding-top: 160px;
    }

    .max_w_509 {
        max-width: 509px;
    }
}