@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style-type: none !important;
}

.ff-racing {
    font-family: 'Font Racing Sans One', sans-serif;
}

.ff-pop {
    font-family: 'Poppins', sans-serif;
}

@font-face {
    font-family: 'Sans Serif Collection';
    src: url(//assets/fonts/SansSerifCollection/SansSerifCollection.ttf);
}

.ff-sans {
    font-family: 'Sans Serif Collection', sans-serif;
}

.opacity_50 {
    opacity: 50%;
}

.opacity_70 {
    opacity: 70%;
}

.opacity_90 {
    opacity: 90%;
}

.opacity_80 {
    opacity: 80%;
}

/* =================font-weight============ */
.fw-small {
    font-weight: 300 !important;
}

.fw-normal {
    font-weight: 400 !important;
}

.fw-medium {
    font-weight: 500 !important;
}

.fw-semibold {
    font-weight: 600 !important;
}

/* ===============line-height=============== */
.lh-15 {
    line-height: 15px;
}

.lh-21 {
    line-height: 21px;
}

.lh-24 {
    line-height: 24px;
}

.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-32 {
    line-height: 32px;
}

.lh-35 {
    line-height: 35.7px;
}

.lh-36 {
    line-height: 36px;
}

.lh-37 {
    line-height: 37px;
}

.lh-40 {
    line-height: 40px;
}

.lh-42 {
    line-height: 42px;
}

.cross span:nth-child(1) {
    transform: rotate(49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: 0px;
}

.cross span:nth-child(2) {
    transform: translateX(-100%);
    opacity: 0;
    transition: 300ms;
}

.cross span:nth-child(3) {
    transform: rotate(-49deg) translateY(0);
    transition: all 300ms linear;
    position: relative;
    top: -22px;
}

/* ===================hero-section============= */
.container_1140 {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.hero-bg-img {
    background-image: url(../images/svg/hero-bg-img.svg);
    background-size: cover;
}

.nav_link:hover {
    transition: all 300ms linear;
}

.nav_link::after {
    content: "";
    width: 0;
    height: 2px;
    background: var(--clr-white);
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 200ms linear;
    transform: translateX(-50%);
}

.nav_link:hover::after {
    width: 100%;
}

.cursor-poniter {
    cursor: pointer;
}

.travel_box_links:after {
    content: "";
    width: 0;
    height: 1px;
    background: var(--clr-creamyWhite);
    position: absolute;
    left: 50%;
    bottom: 0;
    transition: all 200ms linear;
    transform: translateX(-50%);
}

.travel_box_links:hover::after {
    width: 100%;
}

.blue_line:after {
    display: none;
    content: "";
    width: 219px;
    position: absolute;
    height: 8px;
    background: var(--clr-lineBlue);
    left: 30%;
    bottom: 10px;
    border-radius: 18px;
    z-index: -1;
}

.mt_30 {
    margin-top: 30px;
}

.mt_65 {
    margin-top: 65px;
}

.pb_60 {
    padding-bottom: 60px;
}

.pt_60 {
    padding-top: 60px;
}

.gap_32 {
    gap: 32px;
}

.gap_20 {
    gap: 20px;
}

.gap_12 {
    gap: 12px;
}

.gap_60 {
    gap: 60px;
}

.py_29 {
    padding-top: 29px;
    padding-bottom: 29px;
}

.btn_styling {
    background: linear-gradient(90deg, #1219D2 0%, #4E52B1 100%);
    Padding: 14px 32px;
    border-radius: 60px;
    border: 2px solid transparent;
    transition: all 200ms linear;
    z-index: 1;
    position: relative;
}

.btn_styling:hover {
    color: var(--clr-navBlue);
    background: var(--clr-white);
    border: 2px solid transparent;
}

.max_w_889 {
    max-width: 889px;
}

.travel_box {
    max-width: 930px;
    min-height: 300px;
    border: 1px solid var(--clr-borderGrey);
    border-radius: 16px;
    padding: 20px 40px;
    background: var(--clr-blue);
}

.goingTo_box {
    width: 100%;
    min-height: 48px;
    padding: 12px 0 12px 10px;
    border-radius: 8px;
    border: 1px solid var(--clr-borderGrey)
}

.checkkIn_box {
    padding: 5px 10px;
    width: 100%;
    border: 1px solid var(--clr-borderGrey);
    border-radius: 8px;
    cursor: pointer;
}

.hero_starsIcon_position {
    right: 0;
    bottom: -72px;
}

.hero_linerGrident {
    background: linear-gradient(180deg, #140D1B 11.54%, rgba(16, 8, 32, 0) 80.31%);
    width: 100%;
    min-height: 308px;
    bottom: -231px;
    z-index: -2;
    filter: blur(37px);
}

.go_box {
    outline: none;
    border: transparent;
    width: 100%;
}

input::placeholder {
    color: var(--clr-white);
}

.color-green {
    color: red;
}

.drop_links {
    opacity: 0;
}

.dropdown:hover .drop_links {
    opacity: 1;
}

.drop_option:hover {
    background: grey;
    color: var(--clr-black);
}

.dropdown_modification {
    background: var(--clr-navBlue);
    width: 170px;
    padding: 10px;
    border-radius: 10px;
}

#Flight {
    display: none;
}

#car {
    display: none;
}

.checkBox_label::before {
    content: "";
    border: 0.6px solid var(--clr-white);
    border-radius: 1px;
    padding: 9px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
}

#Flight:checked+.checkBox_label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 7px;
    width: 7px;
    height: 15px;
    border: solid var(--clr-white);
    border-width: 0px 2px 2px 0px;
    transform: rotate(50deg);
}

#car:checked+.checkBox_label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 7px;
    width: 7px;
    height: 15px;
    border: solid var(--clr-white);
    border-width: 0px 2px 2px 0px;
    transform: rotate(50deg);
}

/* ==============about-us============ */
.max_w_402 {
    max-width: 402px;
}

.max_w_878 {
    max-width: 878px;
}

.aboutUs_ellip_position {
    top: -78%;
    left: 0;
    z-index: 1;
}

.aboutUs_ellip_position_right {
    top: 24%;
    right: 0;
}

/* ============Popular Destinations(grid)============== */
.py_30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.pb_0 {
    padding-bottom: 0;
}

.grid_left_ellipPosition {
    top: 0;
    left: 0;
}

.left_star_position {
    top: 81px;
    left: 0;
}

.right_star_position {
    bottom: 15px;
    right: 0;
}

.grid-container {
    display: grid;
    gap: 10px;
}

.grid-item1 {
    grid-row: 1/2;
    grid-column: 1/2;
}

.grid-item2 {
    grid-row: 2/3;
    grid-column: 1/2;
}

.grid-item3 {
    grid-row: 3/4;
    grid-column: 1/2;
}

.grid-item4 {
    grid-row: 4/5;
    grid-column: 1/2;
}

.grid-item5 {
    grid-row: 5/6;
    grid-column: 1/2;
}

.grid-item6 {
    grid-row: 6/7;
    grid-column: 1/2;
}

.transition {
    transition: 0.5s linear;
}

.gride_content_property {
    background: var(--clr-greyBlure);
    backdrop-filter: blur(10px);
    padding: 10px 28px;
    border-radius: 42px;
    opacity: 0;
    transition: all 300ms linear;
}

.hover_grid_content:hover .gride_content_property {
    opacity: 1;
}

.hover_grid_content:hover {
    scale: 0.9;
}

.hover_grid_content {
    transition: 0.2s linear;
}

.position_grid_content {
    top: 12px;
    left: 12px;
}

/* ====================slider=============== */
.zoom_in {
    transition: all 300ms linear;
}

.zoom_in:hover {
    scale: 0.9;
}

.pb_110 {
    padding-bottom: 110px;
}

.slider_left_ellipPosition {
    top: -48%;
    left: 0;
}

.slider_right_ellipPosition {
    right: 0;
    top: -39%
}

.text_lineThrough {
    text-decoration: line-through !important;
}

.slider_box {
    max-width: 367px;
    min-height: 406px;
    cursor: pointer;
}

.slider_box_modification {
    background: var(--clr-sliderBoxBlue);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 16px 20px 21px 20px;
}

.max_w_327 {
    max-width: 327px;
}

.border_radius {
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.slick-track {
    display: flex;
    gap: 20px;
}

.slick-dots li.slick-active {
    background: var(--clr-sliderBTnBlue);
    width: 60px;
}

.slick-dots li button:before {
    content: unset;
}

.slick-dots li {
    content: unset;
    width: 28px;
    height: 12px;
    background: var(--clr-white);
    margin: 7px;
    border-radius: 21px;
    transition: all 300ms linear;
}

.slick-next:before {
    display: none;
}

.slick-prev:before {
    display: none;
}

/* ==================token-section============ */
.token_bg_img {
    background-image: url(../images/png/token-bg-img.png);
    background-size: cover;
    background-position: center;
}

.token_top_grident {
    background: linear-gradient(180deg, #140D1B 24.34%, rgba(20, 15, 34, 0) 93.95%);
    width: 1440px;
    height: 215px;
    width: 100%;
    z-index: -1;
}

.token_bottom_grident {
    background: linear-gradient(180deg, #140D1B 24.34%, rgba(20, 15, 34, 0) 93.95%);
    width: 1440px;
    height: 189px;
    width: 100%;
    bottom: -122px;
    z-index: -1;
    filter: blur(31px);
}

.gap_28 {
    gap: 28px;
}

.gap_36 {
    gap: 36px;
}

.pt_30 {
    padding-top: 30px;
}

.pt_20 {
    padding-top: 20px;
}

.pt_50 {
    padding-top: 50px;
}

.travel_club_box {
    background: rgba(18, 25, 210, 0.2);
    padding: 29px 20px 31px 20px;
    max-width: 582px;
    min-height: 480px;
}

/* =============team================= */
.team_left_ellipPosition {
    bottom: -44%;
    left: 0;
}

.team_left_starPosition {
    bottom: 21%;
    left: 0;
}

.team_right_starPosition {
    bottom: 21%;
    right: 0;
}

.team_right_ellipPosition {
    bottom: -11%;
}

.stare_left_position {
    right: 60px;
}

.max_w_213 {
    max-width: 213px;
}

.max_w_234 {
    max-width: 234px;
}

.py_50_80 {
    padding-top: 50px;
    padding-bottom: 80px;
}

.pb_20 {
    padding-bottom: 20px;
}

.pb_85 {
    padding-bottom: 85px;
}

.pb_30 {
    padding-bottom: 30px;
}

.outline_none {
    outline: none;
    border: transparent;
    color: var(--clr-white);
    text-align: left;
}

.team_box {
    max-width: 367px;
    transition: all 0.3s linear;
    border: 1px solid transparent;
}

.team_box:hover {
    border: 1px solid var(--clr-sliderBTnBlue);
    border-radius: 13px;
}

.team_slider_contentBox {
    background: rgba(18, 25, 210, 0.2);
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding: 20px 0 20px 20px;
}

#slider_team .slick-dots li.slick-active {
    background: var(--clr-sliderBTnBlue);
    width: 60px;
}

.slick-slide.slick-current.slick-active {
    box-shadow: 0px 4px 26px 0px var(--clr-shadowBlue);
}

#slider_team .slick-dots li button:before {
    content: unset;
}

#slider_team .slick-dots li {
    content: unset;
    width: 28px;
    height: 12px;
    background: var(--clr-white);
    margin: 7px;
    border-radius: 21px;
    transition: all 300ms linear;
}

#slider_team .slick-dots {
    bottom: -70px;
}

.slick-slide div {
    display: flex;
    justify-content: center;
}

.slick-next {
    display: none !important;
}

/* ====================FAQ================ */
.max_w_561 {
    max-width: 561px;
}

.max_w_564 {
    max-width: 564px;
}

.accordion-button:not(.collapsed) {
    background: var(--clrbodyBlue);
    color: var(--clr-white);

}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/svg/bottom-arrow.svg);
}

.accordion-button::after {
    background-image: url(../images/svg/bottom-arrow.svg);
    background-repeat: no-repeat;
}

.accordion-button {
    background: var(--clrbodyBlue);
    color: var(--clr-white);
    padding: 0;
    align-items: center;
}

.accordion-item {
    background: var(--clrbodyBlue);
}

.accordion-body {
    padding: 0;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion {
    --bs-accordion-border-color: none;
    max-width: 749px;
    margin-left: auto;
    margin-right: auto;
}

.border_bottom {
    border-bottom: 1px solid var(--clr-accBorder);
    margin-bottom: 16px;
}

/* ============footer============== */
.mb_10 {
    margin-bottom: 10px;
}

.zoom {
    transition: 0.3s linear;
}

.zoom:hover {
    scale: 1.3;
}

.footer_links {
    position: relative;
}

.footer_links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--clr-white);
    width: 0;
    height: 2px;
    transition: all 0.1s linear;
}

.footer_links:hover::after {
    width: 100%;
}

.topBtn {
    width: 40px;
    height: 40px;
    background: var(--clr-white);
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 10%;
    cursor: pointer;
    opacity: 0;
    transition: all 300ms linear;
    z-index: 1;
}

.topBtn.show {
    opacity: 1;
}

.topBtn:hover {
    box-shadow: 0px 3px 15px 3px var(--clr-white);
    scale: 1.3;
}


@media (max-width:991.99px) {
    .overFlowHidden {
        overflow: hidden;
    }

    ul.menulist.show {
        left: 0;
    }

    .menulist {
        width: 100%;
        height: 100%;
        justify-content: center;
        position: fixed;
        top: 0;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all 300ms linear;
        z-index: 3;
        background: var(--clr-navBlue);
    }

    .menuIcon {
        width: 40px;
        cursor: pointer;
        transition: all 300ms linear;
    }

    .menuIcon>span {
        height: 3px;
        background: var(--clr-white);
        transition: all 300ms linear;
    }

    .flex_wrap {
        flex-wrap: wrap;
    }

    .w_100 {
        width: 100%;
    }

    .max_w_406 {
        max-width: 406px;
    }

    .slick-dots {
        bottom: -4px;
    }
}

@media (max-width:576px) {
    .justify_content_between {
        justify-content: space-between;
    }

    .slick-dots {
        bottom: -60px;
    }
}

@media (max-width:768px) {
    .grid_small_screen {
        max-width: 366px;
        height: 268px;
        object-fit: cover;
        border-radius: 13px;
    }

    .gride_center {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:576px) {
    .lh-sm-50 {
        line-height: 50px;
    }

    .lh-sm-56 {
        line-height: 56px;
    }

    .blue_line:after {
        display: block;
        width: 271px;
        left: 31%;
    }

    .mb_sm_20 {
        margin-bottom: 20px;
    }

    .mb_sm_18 {
        margin-bottom: 18px;
    }

    .py_sm_50 {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .py_sm_50_100 {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .pb_sm_35 {
        padding-bottom: 35px;
    }

    .pb_sm_60 {
        padding-bottom: 60px;
    }

    .pt_sm_43 {
        padding-top: 43px;
    }

    .pt_sm_40 {
        padding-top: 40px;
    }

    .pb_sm_50 {
        padding-bottom: 50px;
    }

    .gap_sm_143 {
        gap: 143px;
    }

    .gap_sm_32 {
        gap: 32px;
    }

    .gap_100 {
        gap: 100px;
    }

    .gap_90 {
        gap: 90px;
    }

    .gap_30 {
        gap: 30px;
    }

    .travel_club_box {
        background: rgba(18, 25, 210, 0.2);
        padding: 29px 50px 31px 50px;
    }

    .slick-dots {
        bottom: -4px;
    }


}

@media (min-width:768px) {
    .blue_line:after {
        width: 359px;
        height: 14px;
        bottom: 6px;
        left: 30%;
    }

    .pt_md_140 {
        padding-top: 140px;
    }

    .py_md_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .py_md_80 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .pb_md_140 {
        padding-bottom: 140px;
    }

    .pb_md_90 {
        padding-bottom: 90px;
    }

    .mb_md_40 {
        margin-bottom: 40px;
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }

    .grid-item1 {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .grid-item2 {
        grid-row: 1/3;
        grid-column: 2/3;
    }

    .grid-item3 {
        grid-row: 1/2;
        grid-column: 3/4;
    }

    .grid-item4 {
        grid-row: 2/4;
        grid-column: 1/2;
    }

    .grid-item5 {
        grid-row: 3/4;
        grid-column: 2/3;
    }

    .grid-item6 {
        grid-row: 2/4;
        grid-column: 3/4;
    }

    .slick-dots {
        bottom: -70px;
    }
}

@media (min-width:992px) {
    .justify_content_center {
        justify-content: center;
    }

    .w100 {
        width: 100%;
    }

    .topBtn {
        width: 50px;
        height: 50px;
    }

    .gap_lg_32 {
        gap: 32px;
    }

    .lh-lg-75 {
        line-height: 75px;
    }

    .pt_lg_37 {
        padding-top: 37px;
    }

    .py_lg_180_160 {
        padding-top: 180px;
        padding-bottom: 160px;
    }

    .pb_lg_106 {
        padding-bottom: 106px;
    }

    .pb_lg_160 {
        padding-bottom: 160px;
    }

    .pb_lg_240 {
        padding-bottom: 240px;
    }

    .pb_lg_130 {
        padding-bottom: 130px;
    }

    .py_lg_54_160 {
        padding-top: 54px;
        padding-bottom: 160px;
    }

    .blue_line:after {
        content: "";
        width: 453px;
        height: 19px;
        left: 25%;
        bottom: 10px;
    }

    .checkkIn_box {
        /* padding: 5px 10px; */
        max-width: 180px;
        /* border: 1px solid var(--clr-borderGrey); */
        /* border-radius: 8px; */
    }

    .goingTo_box {
        max-width: 452px;
    }

    .pt_lg_160 {
        padding-top: 160px;
    }

    .max_w_509 {
        max-width: 509px;
    }

    .max_w_260 {
        max-width: 260px;
    }

}